{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text">I am a computer science studnet who loves to write when in mood..!</p>
            <a href="https://saiyamjain.netlify.app/" class="btn btn-danger">Know more
                about me</a>
        </div>
    </div>
</div>

{% endblock sidebar %}